* {
    margin: 0;
    padding: 0;
}

.start {
    display: block;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 1100px;

}




.start h1 {
    position: fixed;
    color: white;
    width: auto;
    height: auto;
    font-size:4vw;
    left:40vw;
    top: 100px;
}


.start button {
    position: fixed;
    height: 100px;
    width: 10vw;
    top: 500px;
    left: 45vw;
    font-size:3.5vw;
    border-radius: 8px;
}


.start2 {
    display: none;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 1100px;
    
}


.start2 h1 {
    position: fixed;
    color: white;
    width: auto;
    height: auto;
    font-size:4vw;
    left:31vw;
    top: 100px;
}

.start2 input {
    position: fixed;
    height: 30px;
    width: 10vw;
    top: 300px;
    left: 45vw;
    border-radius: 8px;

}


.start2 button {
    position: fixed;
    height: 100px;
    width: 10vw;
    top: 500px;
    left: 45vw;
    font-size:3.5vw;
    border-radius: 8px;
}

.游戏 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1200px;
    background-color: black;
    background-image: url(素材库/贴图/大地图.png);
    background-repeat: no-repeat;
    background-size: 100vw 1200px;
    background-position: center;
}




.bottom {
    position: fixed;
    bottom: 5px;
    width: 100vw;
    height: 150px;
    background-color: white;
    border: solid gray 3px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

.bottom div {

    height: 150px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom div button {
    font-size: 70px;
    background-color:rgba(0, 0, 0, 0);
    border: 0;
}


.bottom div button:hover {
    font-size: 80px;
}


.top {
    position: fixed;
    top: 1px;
    width: 99vw;
    height: 100px;
    background-color: white;
    border: solid gray 3px;
    border-radius: 18px;
    padding: 10px;
    display: flex;

}

.名字显示 {
    position: absolute;
    font-size: 20px;
    
}

.分界线 {
    border-right: solid rgb(150, 150, 150) 2px;
}

.信息框 {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-top: 30px;
    width: 20vw;
    
}

.信息框 div {
    
    display: flex;
    flex-direction: column;
}


.信息框 div div{
    font-size: 20px;
    margin-right: 30px;
}

.状态框 {
    
    width: 79vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.生命条 , .魔力条 {
    border: solid black 2px;
    border-radius: 18px;
    margin: 3px;
    height: 20px;
    width: 1000px;
}


.css生命 , .css魔力 {
    border-radius: 18px;
    height: 20px;
}

.css生命 {
    background-color: red;
    width: 0px;
}

.css魔力 {
    background-color: blue;
    width: 0px;
}


.经验条 {
    margin-top: 6px;
    height: 6px;
    width: 200px;
    border: solid black 1px;
    border-radius: 5px;
}

.经验值 {
    background-color: rgb(78, 255, 78);
    border-radius: 5px;
    height: 6px;
    width: 0px;
}


.开局选项 {
    display: none;
}


.开局选项_城镇 , .开局选项_冒险 {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 70px;
}

.开局选项_城镇 {
    position: absolute;
    top: 15vw;
    left: 11vw;
    color: rgb(165, 26, 26);
}

.开局选项_冒险 {
    position: absolute;
    color: white;
    top: 18vw;
    right: 16vw;
}


.开局选项_城镇:hover , .开局选项_冒险:hover {
    font-size: 80px;
}