* {
    margin: 0;
    padding: 0;
}

/* 针对WebKit浏览器（如Chrome和Safari） */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 针对Firefox */
/*input[type=number] {
    -moz-appearance: textfield;
}*/

body {
    background-color: black;
    font-family: Arial, sans-serif;
}

:root {
    --main-left: 50vw ; /* 定义自定义属性 */
}

.start {
    display: block;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;

}


.目前版本 {
    color: white;
    font-size: 1vmax;
    position: fixed;
}

.logo {
    position: fixed;
    display: flex;
    left: 39.5vw;
    top: 5vh;
    width: 21vw;
    align-items: center;
}
@keyframes logo {
    from {
      margin-top: 0;
      opacity: 0;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
}


.智械, .与 , .虫群{
    color: white;
    font-size: 4vmax;
}

.智械{
    
    color: rgb(132, 132, 165);
    background-image: url('素材库/贴图/智械.jpg');
    background-repeat: repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

 
}





.与{
/*     margin: 0.25vw; */
    font-size: 4.8vmax;
    /* position: relative;
    top: -0.75vw; */

}



.虫群{
    color: purple;
    animation: animate 0.5s linear infinite;
}




@keyframes animate {
    0% {
        text-shadow: -3px 3px 3px #ff0037;  
    }
    25% {
        text-shadow: -3px 3px 3px #ff0037;
           
    }
    50% {
        text-shadow: 4px -4px 4px #003cff;
        transform: translateY(-10px);
    }
    75% {
        text-shadow: -3px 3px 3px #ff0037; 
        
    }
    100% {
        text-shadow: -4px -4px 4px #003cff;
    }
}






.start button {
    
    position: fixed;
    height: 5vmax;
    width: 10vmax;
    top: 50vh;
    left: calc(var(--main-left) - 5vmax);
    font-size:3.5vw;
    border-radius: 8px;
    border: 0;
    transition-duration: 0.5s;

}




.start button:hover {
    
    color: white;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat;
    background-size: 0.35vmin 2vmin, 2vmin 0.35vmin, 0.35vmin 2vmin, 2vmin 0.35vmin;

}



.start1 {
    display: none;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}


.是否跳过 {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 30vh;
    left: 20vw;
    height: 40vh;
    background-color: white;
    border-radius: 10px;
    width: 60vw;
    justify-content: space-between;
}


.是否跳过_h1 {
    position: relative;
    top: 2vh;
    height: 10vh;
    font-size: 4vmin;
    border-bottom: solid rgb(116, 116, 116) 2px;
    
}

/* 创建一个伪元素作为边框的左端 */
.是否跳过_h1::before {
    content: "";
    display: block;
    width: 10vw; /* 调整伪元素的宽度 */
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 10vh;
}
  
  /* 创建一个伪元素作为边框的右端 */
  .是否跳过_h1::after {
    content: "";
    display: block;
    width: 10vw; /* 调整伪元素的宽度 */
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute; /* 使用绝对定位 */
    bottom: -2px; /* 将伪元素放置在底部 */
    right: 0; /* 右端伪元素 */
}



.是否跳过_确定 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 10vh;
    
    
}

.是否跳过_不跳过 , .是否跳过_跳过 {
    font-size: 5vmin;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 2vmin;
}


.是否跳过_不跳过:hover , .是否跳过_跳过:hover {
    
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0)) left top no-repeat,
              linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0)) left top no-repeat,
              linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0)) right top no-repeat,
              linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0)) right top no-repeat,
              linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0)) left bottom no-repeat,
              linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0)) left bottom no-repeat,
              linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0)) right bottom no-repeat,
              linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0)) right bottom no-repeat;
    background-size: 0.35vmin 2vmin, 2vmin 0.35vmin, 0.35vmin 2vmin, 2vmin 0.35vmin;
}


.剧情 {
    display: none;
    color: white;
    text-align: center;
    position: relative;
    top: 30vh;
}

.剧情 h1 {
    font-size: 4.5vmin;
}

.剧情 h1 .logo {
    position: fixed;
    display: flex;
    left: 39.5vw;
    top: 30vh;
    width: 21vw;
    align-items: center;
    opacity: 0;
    animation-name: logo;
    animation-duration: 3s; /* 动画持续时间 */
    animation-fill-mode: forwards; /* 保持最终状态 */
}
@keyframes logo {
    from {
      margin-top: 0;
      opacity: 0;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
}


.剧情 h1 .智械, .剧情 h1 .与 , .剧情 h1 .虫群 {
    color: white;
    font-size: 4vmax;
}

.剧情 h1 .智械{
    
    color: rgb(132, 132, 165);
    background-image: url('素材库/贴图/智械.jpg');
    background-repeat: repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

 
}





.剧情 h1 .与{
/*     margin: 0.25vw; */
    font-size: 4.8vmax;
    /* position: relative;
    top: -0.75vw; */

}



.剧情 h1 .虫群{
    color: purple;
    animation: animate 0.5s linear infinite;
}


.开始提示0 {
    display: flex;
    flex-direction: row;
    animation-name: logo;
    animation-duration: 5s; /* 动画持续时间 */
    animation-fill-mode: forwards; /* 保持最终状态 */
}

.开始提示 {
    position: absolute;
    top: 50vh;
    font-size: 4vmin;
    left: calc(var(--main-left) - 16vmin);
    color: white;
    opacity: 0.85;
    animation: blingbling2 7s infinite linear;
}

@keyframes blingbling2 {
    0% {
        opacity: 0.8;
    }
    20% {
        opacity: 0.7;
    }
    40% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.7;
    }
}



.start2 {
    display: none;
    opacity: 0;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    
}


.start2 h1 {
    position: fixed;
    color: white;
    width: auto;
    height: auto;
    font-size: 4vmax;
    left: calc(var(--main-left) - 20vmax);
    top: 10vh;
}

.start2 input {
    position: fixed;
    height: 5vh;
    width: 18vmax;
    top: 30vh;
    left: calc(var(--main-left) - 9vmax);
    border-radius: 0.8vmin;
    font-size: 5vmin;
    text-align: center;
}


.start2 button {
    position: fixed;
    height: 5vmax;
    width: 10vmax;
    top: 50vh;
    left: calc(var(--main-left) - 5vmax);
    font-size:3.5vw;
    border-radius: 8px;
    border: 0;
    transition-duration: 0.5s;
}

.start2 button:hover {
    color: white;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat;
    background-size: 0.35vmin 2vmin, 2vmin 0.35vmin, 0.35vmin 2vmin, 2vmin 0.35vmin;

}



.加载 {
    display: none;
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.加载文字 {
    color: white;
    font-size: 30px;
    margin-top: 100px;
}

.加载 .加载图标 {
    height: 5vmax;
    width: 5vmax;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat;
    background-size: 0.35vmin 2vmin, 2vmin 0.35vmin, 0.35vmin 2vmin, 2vmin 0.35vmin;
    animation: rotateAndScale 5s infinite;
}


.加载 .加载图标::before {
    content: "";
    position: absolute;
    top: 1vmax;
    left: 1vmax;
    right: 1vmax;
    bottom: 1vmax;
    background-color: white;
    border-radius: 1vmin;
}

@keyframes rotateAndScale {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}


.游戏 {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(14, 14, 14);
    
}




.bottom {
    position: fixed;
    left: 10vw;
    bottom: 1vh;
    width: 80vw;
    height: 13vh;
    background-color: white;
    border: solid rgb(134, 209, 14) 5px;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}



.bottom div {
    height: 15vmin;
    width: 18vmin;
/*     display: flex; */
    align-items: center;
    justify-content: center;
}


.bottom div button {
    font-size: 6.5vmin;
    background-color:rgba(0, 0, 0, 0);
    border: 0;
}


.bottom div button:hover {
    font-size: 7vmin;
}


.战斗, .道具, .逃跑 {
    display: flex;
}

.战斗_攻击, .战斗_技能 {
    display: none;
}

.战斗_技能_库_上一个,.战斗_技能_库_下一个 {
    display: none;
}

.战斗_技能_库 {
    display: none;
    width: 40vw !important;
}

.技能按钮 {
    display: none;
}

.技能按钮.显示 {
    display: block;

}


.信息 {
    width: 80vw !important;
    height: 7vmin !important;
    display: none;
    font-size: 7vmin;
}

.top {
    position: fixed;
    top: 3px;
    width: 90vw;
    left: 4vw;
    background-color: white;
    border: solid rgb(134, 209, 14) 0.5vmin;
    border-radius: 18px;
    padding: 10px;
    display: none;

}

.名字显示 {
    font-size: 2vmin;
    width: 20vw;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.名字显示:hover {
    font-size: 2.2vmin;
    color: rgb(255, 0, 0);
}

.分界线 {
    border-right: solid rgb(150, 150, 150) 2px;
}

.信息框 {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    width: 20vw;
    justify-content: space-between;
}

.信息框 div {
    
    display: flex;
    flex-direction: column;
}


.信息框 div div{
    font-size: 2vmin;
}

.状态框 {
    
    width: 79vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.状态框 p {
    font-size: 2vmin;
}



.生命条 , .魔力条 {
    border: solid black 2px;
    border-radius: 18px;
    margin: 3px;
    height: 2vmin;
    width: 50vw;
}


.css生命 , .css魔力 {
    border-radius: 18px;
    height: 2vmin;
}

.css生命 {
    background-color: red;
    width: 0vw;
}

.css魔力 {
    background-color: blue;
    width: 0vw;
}
.生命信息 , .魔力信息 {
    color: white;
    font-size: 1.7vmin;
    text-align: center;
}


.经验条 {
    margin-top: 0.6vmin;
    height: 0.6vmin;
    width: 10vw;
    border: solid black 1px;
    border-radius: 5px;
}

.人物详细信息_属性信息_经验条 {
    border: solid white 1px;
}

.经验值 {
    background-color: rgb(78, 255, 78);
    border-radius: 5px;
    height: 0.6vmin;
    width: 0vw;
}


.场地_名称 {
    display: none;
    flex-direction: column;
    position: absolute;
    left: calc(var(--main-left) - 15vmin);
    top: 15vh;
    background-color: rgb(0, 0, 0);
    /* border: solid rgb(56, 0, 185) 2px; */
    border-radius: 10px;
    justify-content: space-between;
    animation-name: slidein;
    animation-duration: 1.8s; /* 动画持续时间 */
    animation-fill-mode: forwards; /* 保持最终状态 */
    opacity: 0;
}

.场地_名称 div {
    border-radius: 10px 10px 0 0;
    background-color: rgb(76, 0, 255);
    height: 1vmin;
    width: 30vmin;
}

.场地_名称_name1 {
    color: rgb(76, 0, 255);
    font-size: 7vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    margin-bottom: 1vmin;
}


@keyframes slidein2 {
    from {
      margin-top: 0;
      opacity: 1;
    }
    to {
      margin-top: 0;
      opacity: 0;
    }
}



.夜色小镇 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-color: black;
    background-image: linear-gradient(to bottom,#1b2947,#1b2947,#1b2947, #2b3152, #3b385d, #4c4067);
}

.moon {
    position: absolute;
    top: 2vmin;
    right: 3vmin;
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    background-color: #ffeaa7;
    box-shadow: 0 0 1vmin #ffeaa7;
}

.star {
    position: absolute;
    width: 0;
    height: 0;
    border: solid 2px white;
    opacity: 0.2;
    animation: blingbling 3s infinite linear;
}

@keyframes blingbling {
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}


.开局选项 {
    display: none;
    opacity: 0;
    justify-content: space-evenly;
    position: absolute;
    top: 40vh;
    left: 25vw;
    width: 50vw;

}


.开局选项_商店, .开局选项_冒险 ,.开局选项_背包 {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 7vmin;
    padding: 10px 15px 15px 15px;
}

.开局选项_商店 {
    /* position: absolute;
    top: 20vw;
    left: 30vw; */
    color: white;
}

.开局选项_冒险 {
    /* position: absolute; */
    color: white;
    /* top: 20vw;
    left: 60vw; */
        
}

.开局选项_背包 {
    /* position: absolute; */
    color: white;
    /* top: 20vw;
    left: 45vw;  */ 
}


.开局选项_商店:hover , .开局选项_冒险:hover ,.开局选项_背包:hover {
    font-size: 8vmin;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat;
    background-size: 0.35vmin 2vmin, 2vmin 0.35vmin, 0.35vmin 2vmin, 2vmin 0.35vmin;
}


@keyframes slidein {
    from {
      margin-top: 4%;
      opacity: 0;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
}




.冒险选择 {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 13vh;
    left: 25vw;
    background-color: white;
    height: 60vh;
    width: 50vw;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    animation-name: slidein;
    animation-duration: 1s; /* 动画持续时间 */
    animation-fill-mode: forwards; /* 保持最终状态 */
}

.冒险选择 div h1 {
    margin-top: 10px;
    font-size: 5vmin;
}

.冒险选择 div h2 {
    font-size: 3.5vmin;
} 



.冒险选择_关闭_button {
    position: absolute;
    border:0;
    background-color: white;
    height: 6vmin;
    width: 8vmin;
    border-radius: 30%;
    left: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
    /* position: relative;
    top: 0.1vmin; */
}

.冒险选择_关闭_button:hover {
    border: black solid 2px;
    background-color: black;
    color: white;
}

#深渊难度 {
    border-radius: 8px;
    max-width: 32.5vmin;
    text-align: center;
    padding: 1px;
    font-size: 6.5vmin;
    border: none;
}

#增加难度按钮 {
    position: absolute;
    background-color: rgba(0, 0, 0,0);
    border:none;
    font-size: 7vmin;
    top: 40vh;
    right: 16vw;
    width: 5vmin;
    height: 5vmin;
    line-height: 5vmin;
    
}

#减少难度按钮 {
    position: absolute;
    background-color: rgba(0, 0, 0,0);
    border:none;
    font-size: 7vmin;
    top: 40vh;
    left: 16vw;
    width: 5vmin;
    height: 5vmin;
    line-height: 5vmin;
    
}


#开始冒险 {
    font-size: 4vmin;
    border-radius: 15px;
    border: 0;
    background-color: white;
    padding: 20px;
    transition-duration: 0.5s;
}

#开始冒险:hover {
    background-color: black;
    color: white;
    font-size: 5vmin;
}


.冒险选择2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 50vw;
    border: 3px solid rgb(0, 0, 0); /* 控制内部边框的宽度和颜色 */
    border-radius: 20px;
    justify-content: space-evenly;
}




.战斗区域 {
    display: none;
    position: absolute;
    top: 30vh;
    height: 40vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;

}

.战斗区域_遮挡 {
    display: none;
    position: absolute;
    top: 30vh;
    height: 40vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}

.战斗区域_遮挡1,.战斗区域_遮挡2,.战斗区域_遮挡3 {
    height: 15vmin;
    width: 20vw;
}





.npc1.enlarged,.npc2.enlarged,.npc3.enlarged {
    transform: scale(1.7);
}

.npc1.shrunk,.npc2.shrunk,.npc3.shrunk {
    transform: scale(0.9);
}

.npc1, .npc2, .npc3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgb(255, 0, 0) 0.5vmin;
    background-color: black;
    height: 15vmin;
    width: 20vw;
    font-size: 2vmin;
    color: red;
    position: relative;
    transition: transform 0.2s ease, opacity 2s ease-out;
}

.npc1::before, .npc2::before, .npc3::before {
    content: attr(data-number);
    position: absolute;
    top: -5vmin; /* 调整数字的位置，使其更靠近按钮 */
    background-color: rgba(255, 0, 0, 0);
    color: red;
    padding: 2px 5px; /* 调整内边距，使数字更小 */
    font-size: 3vmin; /* 调整字体大小 */
    
}



.npc1:hover, .npc2:hover, .npc3:hover {
    color: white;
}

.npcdie {
    animation: npcdie 0.5s;
    animation-iteration-count: infinite;
}

@keyframes npcdie {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}



.npc属性_信息框1,.npc属性_信息框2,.npc属性_信息框3 {
    opacity: 0;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 0 0 6px 6px;
    position: relative;
    z-index: 2;
    top: 15vmin;
    font-size: 2vmin;
}


.战斗区域_遮挡1:hover .npc属性_信息框1,.战斗区域_遮挡2:hover .npc属性_信息框2,.战斗区域_遮挡3:hover .npc属性_信息框3 {
    opacity: 1;
    transition: opacity 0.3s;
}



.冒险中选择0 {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 26vh;
    left: 25vw;
    background-color: black;
    /* background-image: linear-gradient(to bottom,#bf00ff,#d460fa,#f3d1ff); */
    height: 60vh;
    width: 50vw;
    border-radius: 20px 20px 0 0;
    padding: 0;
    align-items: center;
    animation-name: slidein;
    animation-duration: 1s; /* 动画持续时间 */
    animation-fill-mode: forwards; /* 保持最终状态 */
    /* border: 3px solid rgb(255, 255, 255);  */
}




.冒险中选择 {
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    width: 50vw;
    border: 3px solid rgb(255, 255, 255); 
    border-spacing: 15px;
    border-radius: 20px 20px 0 0;
    padding: 1vmin; 
    
}




.冒险中选择_text0 {
    justify-content: left;
    width: 50vw;
    max-height: 30vh;
    padding: 0.4vmin;
/*     border: solid white 1px;
    height: 30vh; */
}

.冒险中选择_text {
    color: white;
    padding: 0.5vmin;
    font-size: 1.8vmin;
}


.冒险中选择_显示_text_文字:hover {
    color: rgb(192, 192, 192);
    font-size: 2vmin;
}


.冒险中选择_选择 {
    display: flex;
    flex-direction: column;
    
}



.冒险中选择_选择_回答 {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: solid white 2px;
    padding: 0.3vmin;
    color: white;
    width: 30vw;
    margin: 1vmin;
    font-size: 1.8vmin;
}



.冒险中选择_选择_回答:hover {
    background-color: white;
    color: black;
}





.弹窗 {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

}

.弹窗_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 35vh;
    height: 30vh;
    justify-content: space-between;
    background-color: white;
    padding: 5vmin;
    border-radius: 1vmin;
}


.弹窗_text {
    background-color: #fff;
    width: 50vw;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 4vmin;
    text-align: center;
    
}


.弹窗_关闭 {
    color: black;
    background-color: aqua;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 2vmin;
}

.npc_属性_总存放 {
    display: none;
}

.npc_属性_存放1,.npc_属性_存放2,.npc_属性_存放3 {
    display: none;
}


.npc_属性_存放1 div,.npc_属性_存放2 div,.npc_属性_存放3 div {
    display: none;
}


.死亡end {
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    opacity: 0;
    display: none;
    position: absolute;
    transition: opacity 2s linear;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

.死亡end_标题 {
    color: white;
    font-size: 6vmin;
}

.死亡end_text {
    color: white;
    font-size: 3vmin;
}


.个人面板 {
    width: 98vw;
    height: 98vh;
    position: absolute;
    top: 0.5vh;
    left: 0.5vw;
    display: none;
    background-color: rgb(255, 255, 255);
    border-top: solid rgb(95, 139, 24) 0.5vh;
    border-bottom: solid rgb(95, 139, 24) 0.5vh;
    border-left: solid rgb(95, 139, 24) 0.5vw;
    border-right: solid rgb(95, 139, 24) 0.5vw;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
}


.个人面板_关闭按钮 {
    height: 7vmin;
    width: 7vmin;
    position: absolute;
    top: 0.5vh;
    right: 0.5vw;
    font-size: 3.5vmin;
    z-index: 2;
    
}

.按钮组 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: solid black 2px;
}

.按钮组_按钮 {
    flex: 1;
    height: 5vh;
    border: none;
    font-size: 3vmin;
    background-color: rgb(34, 34, 34);
    color: white;
}

.按钮组_按钮:hover {
    background-color: white;
    color: black;
}

.内容_部分 h1 {
    font-size: 7vmin;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.内容_上半部分 {
    width: 97vw;
    background-color: rgb(27, 27, 27);
    height: 40vh;
    border-bottom: solid rgb(255, 255, 255) 1px;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.内容_下半部分 {
    height: 53vh;
    width: 98vw;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* 允许垂直滚动 */
    gap: 5vh 0;
}




.个人面板_技能库_技能 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 10vh;
    border-color: #1D1F20;
    margin: 10px;
    flex-shrink: 0; /* 防止子元素缩小 */
    flex-grow: 0; /* 防止子元素扩展 */
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    border: solid white 3px;
}

  
  
.个人面板_技能库_技能_名称 {
    flex: 4;
    color: white;
    font-size: 6.5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid white 5px;
}
  
.个人面板_技能库_技能_查看详情 {
    flex: 1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 3vmin;
  
}


.个人面板_技能库_技能_查看详情:hover {
    color: red;
}

.人物详细信息 {
    display: flex;
    position: relative;
    top: -6vh;
}

.人物详细信息_属性信息 { 
    color: white;
    font-size: 3vmin;
    padding: 3px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2vh;
    column-gap: 2vw;
}





.奖励弹窗 {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

}

.奖励弹窗_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25vh;
    height: 50vh;
    background-color: white;
    padding: 5vmin;
    border-radius: 1vmin;
}

.奖励弹窗_box h2 {
    margin-top: 4vh;
}

.升级奖励_box {
    margin-top: 5vh;
    width: 50vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2vh;
}


.奖励弹窗_text1 {
    background-color: #fff;
    width: 50vw;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 3vmin;
    text-align: center;
    margin-top: 3vh;
    
}
.奖励弹窗_text2 {
    background-color: #fff;
    width: 50vw;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 3vmin;
    text-align: center;
    margin-top: 10px;
    
}


.奖励弹窗_关闭 {
    color: black;
    float: right;
    font-size: 2vmin;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 1vmin;
    position: absolute;
    right: 2px;
    top: 2px;
}

.升级奖励_增加攻击力,.升级奖励_增加防御力,.升级奖励_增加体质,.升级奖励_增加精神 {
    height: 7vh;
    width: 30vw;
    background-color: white;
    border: dashed black 2px;
    border-radius: 1vh;
}

.升级奖励_增加攻击力:hover,.升级奖励_增加防御力:hover,.升级奖励_增加体质:hover,.升级奖励_增加精神:hover {
    border: solid black 2px;
}


.boss生成倒计时 {
    position: absolute;
    display: none;
    top: 26vh;
    left: 5vw;
    width: 8vw;
    height: 8vw;
    border: solid rgb(0, 255, 0) 2px;
    border-radius: 100%;
    color: rgb(0, 255, 0);
    align-items: center;
    justify-content: center;
    font-size: 4vw;
}