* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

:root {
    --main-left: 50vw ; /* 定义自定义属性 */
}

.start {
    display: block;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;

}


.目前版本 {
    color: white;
    font-size: 1vmax;
    position: fixed;
}

.start div {
    position: fixed;
    display: flex;
    left: 39.5vw;
    top: 5vh;
    width: 21vw;
    align-items: center;
}

.start div h1 {
    color: white;
    font-size: 4vmax;
}

.start div .智械{
    
    color: rgb(132, 132, 165);
    background-image: url('素材库/贴图/智械.jpg');
    background-repeat: repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

 
}





.start div .与{
/*     margin: 0.25vw; */
    font-size: 4.8vmax;
    /* position: relative;
    top: -0.75vw; */

}



.start div .虫群{
    color: purple;
    animation: animate 0.5s linear infinite;
}




@keyframes animate {
    0% {
        text-shadow: -3px 3px 3px #ff0037;  
    }
    25% {
        text-shadow: -3px 3px 3px #ff0037;
           
    }
    50% {
        text-shadow: 4px -4px 4px #003cff;
        transform: translateY(-10px);
    }
    75% {
        text-shadow: -3px 3px 3px #ff0037; 
        
    }
    100% {
        text-shadow: -4px -4px 4px #003cff;
    }
}






.start button {
    
    position: fixed;
    height: 5vmax;
    width: 10vmax;
    top: 50vh;
    left: calc(var(--main-left) - 5vmax);
    font-size:3.5vw;
    border-radius: 8px;
    border: 0;
    transition-duration: 0.5s;

}




.start button:hover {
    
    color: white;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat;
    background-size: 0.35vmin 2vmin, 2vmin 0.35vmin, 0.35vmin 2vmin, 2vmin 0.35vmin;

}



.start1 {
    display: none;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.start1 h1 {
    position: relative;
}








.start2 {
    display: none;
    opacity: 0;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    
}


.start2 h1 {
    position: fixed;
    color: white;
    width: auto;
    height: auto;
    font-size: 4vmax;
    left: calc(var(--main-left) - 20vmax);
    top: 10vh;
}

.start2 input {
    position: fixed;
    height: 5vh;
    width: 18vmax;
    top: 30vh;
    left: calc(var(--main-left) - 9vmax);
    border-radius: 0.8vmin;
    font-size: 5vmin;
    text-align: center;
}


.start2 button {
    position: fixed;
    height: 5vmax;
    width: 10vmax;
    top: 50vh;
    left: calc(var(--main-left) - 5vmax);
    font-size:3.5vw;
    border-radius: 8px;
    border: 0;
    transition-duration: 0.5s;
}

.start2 button:hover {
    color: white;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat;
    background-size: 0.35vmin 2vmin, 2vmin 0.35vmin, 0.35vmin 2vmin, 2vmin 0.35vmin;

}



.加载 {
    display: none;
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.加载文字 {
    color: white;
    font-size: 30px;
    margin-top: 100px;
}

.加载 .加载图标 {
    height: 5vmax;
    width: 5vmax;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat;
    background-size: 0.35vmin 2vmin, 2vmin 0.35vmin, 0.35vmin 2vmin, 2vmin 0.35vmin;
    animation: rotateAndScale 5s infinite;
}


.加载 .加载图标::before {
    content: "";
    position: absolute;
    top: 1vmax;
    left: 1vmax;
    right: 1vmax;
    bottom: 1vmax;
    background-color: white;
    border-radius: 1vmin;
}

@keyframes rotateAndScale {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}


.游戏 {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(14, 14, 14);
    
}




.bottom {
    position: fixed;
    left: 1vw;
    bottom: 5px;
    width: 98vw;
    height: 13vh;
    background-color: white;
    border: solid rgb(134, 209, 14) 5px;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

.bottom div {
    height: 150px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom div button {
    font-size: 70px;
    background-color:rgba(0, 0, 0, 0);
    border: 0;
}


.bottom div button:hover {
    font-size: 80px;
}


.top {
    position: fixed;
    top: 3px;
    width: 90vw;
    left: 4vw;
    background-color: white;
    border: solid rgb(134, 209, 14) 0.5vmin;
    border-radius: 18px;
    padding: 10px;
    display: none;

}

.名字显示 {
    font-size: 2vmin;
    width: 20vw;
}

.分界线 {
    border-right: solid rgb(150, 150, 150) 2px;
}

.信息框 {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    width: 20vw;
    justify-content: space-between;
}

.信息框 div {
    
    display: flex;
    flex-direction: column;
}


.信息框 div div{
    font-size: 2vmin;
}

.状态框 {
    
    width: 79vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.状态框 p {
    font-size: 2vmin;
}



.生命条 , .魔力条 {
    border: solid black 2px;
    border-radius: 18px;
    margin: 3px;
    height: 2vmin;
    width: 50vw;
}


.css生命 , .css魔力 {
    border-radius: 18px;
    height: 2vmin;
}

.css生命 {
    background-color: red;
    width: 0vw;
}

.css魔力 {
    background-color: blue;
    width: 0vw;
}


.经验条 {
    margin-top: 0.6vmin;
    height: 0.6vmin;
    width: 10vw;
    border: solid black 1px;
    border-radius: 5px;
}

.经验值 {
    background-color: rgb(78, 255, 78);
    border-radius: 5px;
    height: 0.6vmin;
    width: 0vw;
}


.场地_名称 {
    display: none;
    flex-direction: column;
    position: absolute;
    left: calc(var(--main-left) - 15vmin);
    top: 15vh;
    background-color: rgb(0, 0, 0);
    /* border: solid rgb(56, 0, 185) 2px; */
    border-radius: 10px;
    justify-content: space-between;
    animation-name: slidein;
    animation-duration: 1.8s; /* 动画持续时间 */
    animation-fill-mode: forwards; /* 保持最终状态 */
    opacity: 0;
}

.场地_名称 div {
    border-radius: 10px 10px 0 0;
    background-color: rgb(76, 0, 255);
    height: 1vmin;
    width: 30vmin;
}

.场地_名称_name {
    color: rgb(76, 0, 255);
    font-size: 7vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    margin-bottom: 1vmin;
}


@keyframes slidein2 {
    from {
      margin-top: 0;
      opacity: 1;
    }
    to {
      margin-top: 0;
      opacity: 0;
    }
}



.夜色小镇 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-color: black;
    background-image: linear-gradient(to bottom,#1b2947,#1b2947,#1b2947, #2b3152, #3b385d, #4c4067);
}

.moon {
    position: absolute;
    top: 2vmin;
    right: 3vmin;
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    background-color: #ffeaa7;
    box-shadow: 0 0 1vmin #ffeaa7;
}

.star {
    position: absolute;
/*     top: 5vmin;
    left: 5vmin; */
    width: 0;
    height: 0;
    border: solid 2px white;
    opacity: 0.2;
    animation: blingbling 3s infinite linear;
}

@keyframes blingbling {
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}


.开局选项 {
    display: none;
    opacity: 0;
    justify-content: space-evenly;
    position: absolute;
    top: 40vh;
    left: 25vw;
    width: 50vw;

}


.开局选项_商店, .开局选项_冒险 ,.开局选项_背包 {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 7vmin;
    padding: 10px 15px 15px 15px;
}

.开局选项_商店 {
    /* position: absolute;
    top: 20vw;
    left: 30vw; */
    color: white;
}

.开局选项_冒险 {
    /* position: absolute; */
    color: white;
    /* top: 20vw;
    left: 60vw; */
        
}

.开局选项_背包 {
    /* position: absolute; */
    color: white;
    /* top: 20vw;
    left: 45vw;  */ 
}


.开局选项_商店:hover , .开局选项_冒险:hover ,.开局选项_背包:hover {
    font-size: 8vmin;
    background: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) right top no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) left bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat,
              linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255)) right bottom no-repeat;
    background-size: 0.35vmin 2vmin, 2vmin 0.35vmin, 0.35vmin 2vmin, 2vmin 0.35vmin;
}


@keyframes slidein {
    from {
      margin-top: 4%;
      opacity: 0;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
}




.冒险选择 {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 13vh;
    left: 25vw;
    background-color: white;
    height: 60vh;
    width: 50vw;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    animation-name: slidein;
    animation-duration: 1s; /* 动画持续时间 */
    animation-fill-mode: forwards; /* 保持最终状态 */
}

.冒险选择 div h1 {
    margin-top: 10px;
    font-size: 5vmin;
}

.冒险选择 div h2 {
    font-size: 3.5vmin;
} 


#深渊难度 {
    border-radius: 8px;
    height: 50px;
    width: 3.5vmax;
    text-align: center;
    padding: 1px;
    font-size: 3.5vmin;
}

#开始冒险 {
    font-size: 4vmin;
    border-radius: 15px;
    border: 0;
    background-color: white;
    padding: 20px;
    transition-duration: 0.5s;
}

#开始冒险:hover {
    background-color: black;
    color: white;
    font-size: 5vmin;
}


.冒险选择2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 50vw;
    border: 3px solid rgb(0, 0, 0); /* 控制内部边框的宽度和颜色 */
    border-radius: 20px;
}




.战斗 {
    display: none;
    position: absolute;
    top: 30vh;
    height: 40vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;

}

.me, .npc {
    display: flex;
    align-items: center;
    justify-content: center;
}


.me {
    border: solid white 0.5vmin;
    height: 20vmin;
    width: 20vmax;
    font-size: 3vmin;
    color: white;

}

.npc {
    border: solid rgb(255, 0, 0) 0.5vmin;
    height: 20vmin;
    width: 20vmax;
    font-size: 1vmin;
    color: red;
}


.冒险中选择0 {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 20vh;
    left: 23.5vw;
    background-color: rgb(54, 20, 206);
    height: 60vh;
    width: 50vw;
    border-radius: 20px;
    padding: 1.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    align-items: center;
    animation-name: slidein;
    animation-duration: 1s; /* 动画持续时间 */
    animation-fill-mode: forwards; /* 保持最终状态 */
    border: 3px solid rgb(255, 255, 255); /* 控制内部边框的宽度和颜色 */
}


.冒险中选择 {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    width: 50vw;
    border: 3px solid rgb(255, 255, 255); /* 控制内部边框的宽度和颜色 */
    border-radius: 20px;
    padding: 0.5vmin;
    
}



.冒险中选择_text0 {
    justify-content: left;
    width: 50vw;
    max-height: 30vh;
    padding: 0.2vmin;
/*     border: solid white 1px;
    height: 30vh; */
}

.冒险中选择_text {
    color: white;
    padding: 0.4vmin;
    font-size: 1.8vmin;
}


.冒险中选择_选择 {
    display: flex;
    flex-direction: column;
    
}



.冒险中选择_选择_回答 {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: solid white 2px;
    padding: 0.3vmin;
    color: white;
    width: 30vw;
    margin: 1vmin;
    font-size: 1.8vmin;
}



.冒险中选择_选择_回答:hover {
    background-color: white;
    color: black;
}








